.card-hp{
    color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.card-titlehp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 170vh;
  min-height: 40vh;
}
.navbar-brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20px;
}
.navbar-nav{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20px;
}
